.AskQuestionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 50px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

span {
  color: red;
  display: block;
  margin-bottom: 20px;
}

.image-upload-container {
  width: 100%;
  margin-bottom: 20px;
}

.image-upload-button {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: #0074d9;
  border: 2px dashed #0074d9;
}

.selected-image {
  max-width: 100%;
  height: auto;
}

/* Styles for submit button */
button {
  padding: 10px 15px;
  background-color: #000080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005ea6;
}
