.button {
  padding: 0.6rem 0.5rem;
  border-radius: 6px;
  background-color: var(--color-b3);
  font: inherit;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: 0;
  height: 28px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 125px;
}

.button > a {
  padding: 0;
  margin: 0;
}
.button-black {
  background-color: var(--color-g5);
  color: white;
}

.button-danger {
  background-color: #bb1717;
  color: var(--color-w3);
}
.button-blue {
  background-color: var(--color-b2);
  color: var(--color-w4);
}

.button-inverse {
  background-color: var(--color-w4);
  color: var(--color-g5);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.1);
}

.button-transparent {
  background-color: transparent;
  color: white;
  border-color: white;
  border: 1px solid white;
  padding: 0.55rem 1.6rem;
}

.button-filter {
  background-color: var(--color-g5);
  width: 40px;
  height: 12px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  margin-top: 1rem;
  top: 0.75rem;
  position: absolute;
  z-index: 10;
}

.button-white {
  border: 1px dotted rgb(39, 33, 33);
  background-color: rgb(248, 248, 247);
  color: var(--color-text);
}
