.navbar-container {
  width: 100%;
  background-color: var(--color-w2);
  padding: var(--pad-3) var(--pad-8);
  margin: 0;
}

.navbar-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-logo {
  width: 3.5rem;
  height: 4rem;
}

.nav-menus-lists {
  display: flex;
  gap: 40px;
}
.nav-menus-lists > a:hover {
  color: #005669;
}
li {
  color: var(--color-g5);
  margin-right: 10px;
}

.nav-buttons > * {
  margin-left: 10px;
}

.hamburger svg {
  width: 3.2rem;
  height: 2rem;
  cursor: pointer;
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7000;
  width: 55%;
  height: 100vh;
  background-color: rgb(253, 254, 254);

  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateX(100%);
  display: flex;
  box-shadow: 4px 3px 8px #00000066;
  border-radius: 4px;
}

.sideBar.open {
  transform: translateX(0%);
}
.mobile-menus {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 7rem;
  width: 100%;
}

.asideCloseBtn {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  color: rgb(70, 70, 105);
  border: none;
  font-size: 40px;
  background: transparent;
  cursor: pointer;
}
.mobile-menu-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--color-text);
}

.mobile-menu-lists li,
a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.mobile-menu-lists li:hover {
  color: var(--color-b3);
  cursor: pointer;
}

.aside-Buttons {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding-left: 15px;
}
/* .mobile-menu-lists Button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-w1);
  color: var(--color-w3);
  font-size: 1.2rem;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mobile-menu-lists Button:hover {
  background-color: var(--color-w2);
  cursor: pointer;
} */

@media (min-width: 600px) {
  .sideBar {
    width: 45%;
  }
}
@media (min-width: 1000px) {
  .navbar-container {
    padding: var(--pad-3) var(--pad-10);
  }
}
