.questionsPage {
  width: 100%;
}
.questionsPage .header {
  text-align: center;
  margin: auto;
  margin-block: 2rem;
  width: 100%;

  font-size: 27px;
  color: var(--color-text);
  font-weight: 600;
}

.questionsContainer {
  padding-inline: 1rem;
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.listOfQuestions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
}
.questionsPage .btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 1.3rem;
}

.btnContainer button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnContainer button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

@media (min-width: 960px) {
  .listOfQuestions {
    width: 70%;
  }
  .questionsContainer {
    padding-inline: 2rem;
  }
}
