.questionsPage {
  width: 100%;
}
.questionsPage .header {
  text-align: center;
  margin: auto;
  margin-block: 2rem;
  width: 100%;

  font-size: 27px;
  color: var(--color-text);
  font-weight: 600;
}

.questionsContainer {
  padding-inline: 1rem;
  position: relative;
  display: flex;
  width: 100%;
}

.listOfQuestions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
}

@media (min-width: 960px) {
  .listOfQuestions {
    width: 70%;
  }
  .questionsContainer {
    padding-inline: 2rem;
  }
}
