.questionHero {
  background-image: url("../../../assets/mask-group.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  width: 100%;
  padding-block: 0;
  padding-top: 65px;
}

.questionHero h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 45px;
  font-weight: 500;
}

.questionHero h4 {
  padding-inline: 10px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 55px;
  text-align: center;
}
.questionHero .searchBarContainer {
  min-width: 350px;
  max-width: 900px;
  position: relative;
}

.questionHero .searchBarContainer input {
  width: 100%;
  padding-inline: 1.3rem;
  padding-block: 22px;
  outline: none;
  border-radius: 6px;
}

.searchBarContainer input::placeholder {
  font-size: 22px;
}
.searchBarContainer svg {
  position: absolute;
  right: 20px;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (min-width: 789px) {
  .questionHero h1 {
    font-size: 38px;
  }
  .questionHero h4 {
    font-size: 23px;
  }
  .questionHero .searchBarContainer {
    width: 490px;
  }
}

@media (min-width: 1000px) {
  .questionHero .searchBarContainer {
    width: 690px;
  }
}
