.signupPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
  align-items: center;
  /* background-color: var(--color-w1); */
  color: var(--color-text);
  min-height: 1000px;
}
.signupPage .bg-gradient {
  background: linear-gradient(0deg, #039dc0 10%, #0cda9c 100%);
  content: "";
  height: 100vh;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(50%);
  width: 100%;
  z-index: -1;
}

.signupPage h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-text);
  font-weight: 500;
}

/* .signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
} */

.signupImage {
  margin-top: 20px;
  padding-inline: 15px;
}

.signupImage img {
  width: 100%; /* Adjust the width as needed */
  height: auto;
}

h2 {
  margin-top: 20px;
  font-size: 21px;
  text-align: center;
}

form,
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 18px;
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.signupPage input,
.signupPage input[type="text"],
select,
#level,
.editProfilePage input {
  width: 100%;
  padding-left: 12px;
  padding-block: 12px; /* Increase the size of the inputs */
  /* width: 300px; */
  border: 1px solid #cac9c9;
  border-radius: 4px;
  font-size: 18px;
  background-color: transparent;
}

input::placeholder {
  color: rgb(128, 121, 121);
}

#level {
  margin-bottom: 30px;
}

form .signupBtn {
  width: 400px;
  background-color: var(--color-b3);
}
.signupBtnContainer {
  margin-top: 20px;
}

.input.error {
  border: 1px solid var(--color-danger);
}

.errorMessage {
  color: var(--color-danger);
  font-size: 14px;
  margin-top: 5px;
}

span {
  cursor: pointer;
}

@media (min-width: 600px) {
  .signupPage input,
  select {
    width: 500px;
    padding-block: 15px;
  }
}

@media (min-width: 1100px) {
  .signupPage {
    /* padding-inline: 3rem; */
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .signupPage .signupImage {
    width: 47%;
  }
  .signupImage img {
    width: 107%;
    height: auto;
    min-height: 600px;
  }
  .formContainer {
    width: 43%;
    justify-content: center;
  }
  .formGroup {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }
  .signupPage input[type="password"],
  .signupPage input[type="text"],
  .signupPage input[type="tel"],
  select,
  #level,
  .editProfilePage input {
    justify-self: center;
    width: 520px;
    padding-block: 15px;
  }
}
@media (min-width: 1350px) {
  .signupPage input,
  select {
    width: 560px;
  }
}
