.footer{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    font-size: 12px;
}

.footer ul{
    display: flex;
    gap: 15px;
    font-size: 15px;
}
.footer p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 10px;
}