.filter-options {
  width: 67%;
  padding-inline: 2rem;
  height: auto;
  background-color: rgb(253, 254, 254);
  border-radius: 5px;
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translateX(-100%);

  flex-direction: column;
  height: 100%;
  overflow: auto;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.filter-options.open {
  display: flex;
  transform: translateX(0%);
  z-index: 1004;
}

.filter-header {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.mobFilterClose {
  /* position: absolute;
  top: 0.75rem;
  right: 1rem; */
  align-self: center;
  justify-self: flex-end;
  color: var(--black);
  border: none;
  font-size: 2.5rem;
}

.filter-icon {
  font-size: 2.3rem;
  margin-right: 12px;
  color: #0d0d0e;
  position: relative;
  top: 5px;
}

.filter-title {
  font-size: 27px;
  font-weight: 500;
  color: #333;
  margin-top: 2rem;
}

.filter-section {
  margin-bottom: 0px;
  border-top: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 2px;
}

.filter-section-title {
  font-size: 1.1em;
  font-weight: 500;
  color: #333;
  padding: 10px 4px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.filter-section-title svg {
  font-size: 1.3em;
  margin-right: 8px;
}

.filter-checkbox-group {
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 10px;
}

.filter-checkbox-label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.85em;
  color: #555; /* Slightly lighter gray text */
}

.filter-checkbox {
  margin-right: 10px;
  vertical-align: middle;
}

.apply-filters-button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.show-more-button {
  padding: 7px 8px;
  cursor: pointer;
}

.apply-filters-button:hover {
  background-color: #005669;
}

.filter-action {
  text-align: center;
  margin-top: 20px;
}

/* Animation for smooth collapse/expand */
.filter-section > div {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.filter-section > div[hidden] {
  max-height: 0;
}
/* check box style */
.filter-options input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter-options input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  vertical-align: middle;
}

.filter-options input[type="checkbox"]:checked::before {
  background-color: #81c0c0;
  background-size: 70%; /* Fill 70% of the circle */
  background-repeat: no-repeat;
  background-position: center; /* Center the fill */
}
.clear-filters-button {
  background-color: #f44336; /* Red color */
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  width: 117px;
  margin: auto;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

@media (min-width: 950px) {
  .filter-options {
    transform: translate(0%);
    position: inherit;
    display: flex;
    width: 25%;
    height: auto;
    padding-inline: 0rem;
    background-color: inherit;
  }
}
@media (min-width: 1200px) {
  .filter-options {
    width: 20%;
    margin-bottom: 0;
  }
  
}
